

/* Buttons */
.mpex_button,
.mpex_button:visited {
    background-color: #61adf0;
    background-image: -webkit-linear-gradient(#6ab5f2 0, #53a0ee 100%);
    background-image: linear-gradient(#6ab5f2 0, #53a0ee 100%);
    box-shadow: inset 0 1px 1px #77bdf4, 0 2px 2px -1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    border: 1px solid #4d93d7;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)
}
.mpex_button.in-header,
.mpex_button:visited.in-header {
    line-height: 1
}
.mpex_button:hover,
.mpex_button:visited:hover,
.mpex_button.hover,
.mpex_button:visited.hover {
    background: #5fabf1;
    color: #fff
}
.mpex_button:active,
.mpex_button:visited:active,
.mpex_button.active,
.mpex_button:visited.active {
    background: #5fabf1;
    color: #fff;
    box-shadow: inset 0 1px 1px #48a6f0
}
.mpex_button.disabled,
.mpex_button:visited.disabled,
.mpex_button[disabled],
.mpex_button:visited[disabled] {
    background-color: #61adf0;
    background-image: -webkit-linear-gradient(#6ab5f2 0, #53a0ee 100%);
    background-image: linear-gradient(#6ab5f2 0, #53a0ee 100%);
    opacity: .5;
    color: white
}
.mpex_button.disabled:hover,
.mpex_button:visited.disabled:hover,
.mpex_button[disabled]:hover,
.mpex_button:visited[disabled]:hover,
.mpex_button.disabled.hover,
.mpex_button:visited.disabled.hover,
.mpex_button[disabled].hover,
.mpex_button:visited[disabled].hover,
.mpex_button.disabled:active,
.mpex_button:visited.disabled:active,
.mpex_button[disabled]:active,
.mpex_button:visited[disabled]:active,
.mpex_button.disabled.active,
.mpex_button:visited.disabled.active,
.mpex_button[disabled].active,
.mpex_button:visited[disabled].active {
    background-color: #61adf0;
    background-image: -webkit-linear-gradient(#6ab5f2 0, #53a0ee 100%);
    background-image: linear-gradient(#6ab5f2 0, #53a0ee 100%)
}
